<?xml version='1.0' encoding='utf-8'?>
<robot name="sopo">
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
  </link>
  <link name="sopo_desktop_base">
    <inertial>
      <origin xyz="-1.2757e-08 -0.00262566 0.0390895" rpy="0 0 0" />
      <mass value="1.25391" />
      <inertia ixx="0.00204443" ixy="4.2e-11" ixz="3.31e-10" iyy="0.00254193" iyz="-1.44594e-05" izz="0.00302347" />
    </inertial>
    <visual>
      <origin xyz="-0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/simple61814.stl" />
      </geometry>
      <material name="simple61814_material">
        <color rgba="0.917647 0.917647 0.917647 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/simple61814_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/simple_sm8512bl.stl" />
      </geometry>
      <material name="simple_sm8512bl_material">
        <color rgba="0.917647 0.917647 0.917647 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/simple_sm8512bl_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/sopo_desktop_base.stl" />
      </geometry>
      <material name="sopo_desktop_base_material">
        <color rgba="0.768627 0.886275 0.952941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 0.0637" rpy="0 -0 0" />
      <geometry>
        <mesh filename="assets/sopo_desktop_base_collision.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_1">
    <inertial>
      <origin xyz="6.52594e-12 1.26882e-07 -0.00833285" rpy="0 0 0" />
      <mass value="1.192" />
      <inertia ixx="0.000400582" ixy="-5.4495e-12" ixz="-4.61263e-14" iyy="0.00113655" iyz="6.04175e-10" izz="0.00129419" />
    </inertial>
    <visual>
      <origin xyz="-0 -0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/joint_2_simple_sts3250.stl" />
      </geometry>
      <material name="joint_2_simple_sts3250_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/joint_2_simple_sts3250_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 -0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/link1.stl" />
      </geometry>
      <material name="link1_material">
        <color rgba="0.615686 0.811765 0.929412 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/link1_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/joint_2_simple_sts3250__2.stl" />
      </geometry>
      <material name="joint_2_simple_sts3250_2_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.0632" rpy="3.14159 -0 -0" />
      <geometry>
        <mesh filename="assets/joint_2_simple_sts3250__2_collision.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_2">
    <inertial>
      <origin xyz="-8.93706e-06 -0.221925 -0.018501" rpy="0 0 0" />
      <mass value="0.424" />
      <inertia ixx="0.0067438" ixy="-2.6255e-07" ixz="-1.04868e-08" iyy="0.000364976" iyz="5.74872e-08" izz="0.00647589" />
    </inertial>
    <visual>
      <origin xyz="0 -0.0219 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_pipe.stl" />
      </geometry>
      <material name="link_2_pipe_material">
        <color rgba="0.301961 0.301961 0.301961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.0219 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_pipe.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_holder.stl" />
      </geometry>
      <material name="link_2_holder_material">
        <color rgba="0.647059 0.647059 0.647059 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_holder_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.022 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_holder__2.stl" />
      </geometry>
      <material name="link_2_holder_2_material">
        <color rgba="0.647059 0.647059 0.647059 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 -0.022 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_2_holder__2_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_3_simple_sts3250.stl" />
      </geometry>
      <material name="joint_3_simple_sts3250_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_3_simple_sts3250_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_3_simple_sts3250__2.stl" />
      </geometry>
      <material name="joint_3_simple_sts3250_2_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="5.48697e-07 -0.3428 -0.0185" rpy="-0 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_3_simple_sts3250__2_collision.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_3">
    <inertial>
      <origin xyz="-0.0425406 0.0202045 -0.0185133" rpy="0 0 0" />
      <mass value="0.1305" />
      <inertia ixx="6.11542e-05" ixy="1.15406e-05" ixz="1.44851e-08" iyy="5.79705e-05" iyz="2.09268e-08" izz="9.52165e-05" />
    </inertial>
    <visual>
      <origin xyz="-0.0619 -0.068 -0.0185" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_3.stl" />
      </geometry>
      <material name="link_3_material">
        <color rgba="0.615686 0.811765 0.929412 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0619 -0.068 -0.0185" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_3_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0619 -0.068 -0.0185" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_4_simple_sts3250.stl" />
      </geometry>
      <material name="joint_4_simple_sts3250_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0619 -0.068 -0.0185" rpy="-3.14159 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_4_simple_sts3250_collision.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_4">
    <inertial>
      <origin xyz="4.38776e-05 -0.000294806 -0.223898" rpy="0 0 0" />
      <mass value="0.307" />
      <inertia ixx="0.00433331" ixy="9.62693e-09" ixz="1.60982e-06" iyy="0.00434083" iyz="-1.02205e-05" izz="8.2126e-05" />
    </inertial>
    <visual>
      <origin xyz="-0 -4.64429e-07 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/link_4_pipe.stl" />
      </geometry>
      <material name="link_4_pipe_material">
        <color rgba="0.301961 0.301961 0.301961 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -4.64429e-07 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/link_4_pipe.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/link_4_hold_1.stl" />
      </geometry>
      <material name="link_4_hold_1_material">
        <color rgba="0.980392 0.713725 0.00392157 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/link_4_hold_1_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/simple_6704.stl" />
      </geometry>
      <material name="simple_6704_material">
        <color rgba="0.231373 0.380392 0.705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/simple_6704.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/simple_6704__2.stl" />
      </geometry>
      <material name="simple_6704_2_material">
        <color rgba="0.231373 0.380392 0.705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 0 -0.081" rpy="-1.5708 -0 -0" />
      <geometry>
        <mesh filename="assets/simple_6704__2.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/link_4_holder2.stl" />
      </geometry>
      <material name="link_4_holder2_material">
        <color rgba="0.980392 0.713725 0.00392157 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/link_4_holder2_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/joint_5_simple_sts3215_12v.stl" />
      </geometry>
      <material name="joint_5_simple_sts3215_12v_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/joint_5_simple_sts3215_12v_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/link_4_holder_3.stl" />
      </geometry>
      <material name="link_4_holder_3_material">
        <color rgba="0.964706 0.964706 0.952941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0 -9.3933e-07 -0.433326" rpy="1.5708 0 3.14159" />
      <geometry>
        <mesh filename="assets/link_4_holder_3_collision.stl" />
      </geometry>
    </collision>
  </link>
  <link name="link_5">
    <inertial>
      <origin xyz="-0.0377441 -0.000117368 -0.0276506" rpy="0 0 0" />
      <mass value="0.087" />
      <inertia ixx="2.9179e-05" ixy="2.21139e-08" ixz="-4.59611e-06" iyy="4.33553e-05" iyz="6.12736e-08" izz="2.49327e-05" />
    </inertial>
    <visual>
      <origin xyz="-0.0611 1.2e-11 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_5.stl" />
      </geometry>
      <material name="link_5_material">
        <color rgba="0.964706 0.964706 0.952941 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0611 1.2e-11 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/link_5_collision.stl" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.0611 1.2e-11 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_6_simple_sts3215_12v.stl" />
      </geometry>
      <material name="joint_6_simple_sts3215_12v_material">
        <color rgba="0.141176 0.917647 0.0235294 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="-0.0611 1.2e-11 -0.0185" rpy="1.5708 1.5708 0" />
      <geometry>
        <mesh filename="assets/joint_6_simple_sts3215_12v_collision.stl" />
      </geometry>
    </collision>
  </link>
  <joint name="joint_6" type="continuous">
    <origin xyz="-0.0611 1.2e-11 -0.0185" rpy="-0 1.5708 0" />
    <parent link="link_5" />
    <child link="flange" />
    <axis xyz="0 0 -1" />
    <limit effort="1.5" velocity="5.236" />
  </joint>
  <joint name="joint_5" type="revolute">
    <origin xyz="0.0185 -9.39318e-07 -0.372226" rpy="3.14159 -1.5708 0" />
    <parent link="link_4" />
    <child link="link_5" />
    <axis xyz="0 0 -1" />
    <limit effort="1.5" velocity="5.236" lower="-1.74533" upper="1.74533" />
  </joint>
  <joint name="joint_4" type="revolute">
    <origin xyz="-0.0619 0.013 -0.0185" rpy="-1.5708 1.5708 0" />
    <parent link="link_3" />
    <child link="link_4" />
    <axis xyz="0 0 -1" />
    <limit effort="1.6" velocity="7.85" lower="-3.14159" upper="3.14159" />
  </joint>
  <joint name="joint_3" type="revolute">
    <origin xyz="5.48697e-07 -0.3428 -0" rpy="-0 -0 1.5708" />
    <parent link="link_2" />
    <child link="link_3" />
    <axis xyz="0 0 1" />
    <limit effort="3.1" velocity="7.85" lower="-1.5708" upper="1.5708" />
  </joint>
  <joint name="joint_2" type="revolute">
    <origin xyz="-0.0185 0 -0.0412" rpy="1.5708 -0 -1.5708" />
    <parent link="link_1" />
    <child link="link_2" />
    <axis xyz="0 0 1" />
    <limit effort="3.1" velocity="7.85" lower="-1.65806" upper="1.65806" />
  </joint>
  <joint name="joint_1" type="revolute">
    <origin xyz="-0 -0 0.0777" rpy="-3.14159 0 -0" />
    <parent link="sopo_desktop_base" />
    <child link="link_1" />
    <axis xyz="0 0 -1" />
    <limit effort="2.7" velocity="6.28" lower="-3.14159265359" upper="3.14159265359" />
  </joint>
  <mujoco>
    <compiler discardvisual="false" />
  </mujoco>
  <joint name="base_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 -1.57079633" />
    <parent link="base_link" />
    <child link="sopo_desktop_base" />
  </joint>
  <link name="flange">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1e-09" />
      <inertia ixx="1e-09" ixy="0" ixz="0" iyy="1e-09" iyz="0" izz="1e-09" />
    </inertial>
  </link>
</robot>